h1 {
    color: #c9ebff;
    text-align: center;
    font-family: "Sofia";
}

p {
    color: #e5f0ff;
    font-family: Courier, monospace;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: 8px solid white;
}

h2 {
    color: #c9ebff;
    text-align: center;
}

li {
    color: #7196a3;
    font-family: Courier, monospace;
}

h3 {
    color: #c9ebff;
    text-align: center;
}

h4 {
    background-color: white;
    color: #b9d5ed;
}

body {
    background-color: #ccc1ae;
}